<div class="foot">
    <!-- Container -->
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3 col-sm-6">
                <!-- Foot Item -->
                <div class="foot-item">
                    <!-- Heading -->
                    <h5 class="bold"><i class="fa fa-user"></i>&nbsp;&nbsp;About</h5>
                    <p>Itaque earum rerum hic tenetur a atque atatum dele niti atque tenetur a atque atatum tenetur volup tatum.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!-- Foot Item -->
                <div class="foot-item">
                    <!-- Heading -->
                    <h5 class="bold"><i class="fa fa-comments"></i>&nbsp;&nbsp;Recent Posts</h5>
                    <!-- Foot Item Content -->
                    <div class="foot-item-content">
                        <ul class="list-unstyled">
                            <!-- Link -->
                            <li><a href="#">Denocing Sapientes Contain</a></li>
                            <li><a href="#">Dignissim Electronic Typeset</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!-- Foot Item -->
                <div class="foot-item">
                    <!-- Heading -->
                    <h5 class="bold"><i class="fa fa-building-o"></i>&nbsp;&nbsp;Contact Us</h5>
                    <!-- Foot Item Content -->
                    <div class="foot-item-content address">
                            <i class="fa fa-envelope"></i>  Mail : <a href="#">infodesk@@uk.com</a><br />
                            <p class="tel"> <i class="fa fa-phone"></i> Tel : + (833) - 839 8393<br />
                            <i class="fa fa-calendar"></i> Business Hours : 9:30 - 5:30</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Foot Ends -->

<!-- Footer Starts -->

<footer>
    <!-- Container -->
    <div class="container">
        <!-- Footer Content -->
        <!-- Paragraph -->
        <p class="pull-left">Copyright &copy; 2014 - <a href="#">Your Site</a></p>
        <ul class="list-inline pull-right">
            <!-- List -->
            <li><a href="index.html">Home</a><li>
            <li><a href="service.html">Service</a></li>
            <li><a href="feature.html">Features</a></li>
            <li><a href="about-us.html">About</a></li>
            <li><a href="contact-us.html">Contact</a></li>
        </ul>
        <!-- Clearfix -->
        <div class="clearfix"></div>
    </div>
</footer>