<div class="header-2">



    <!-- Container -->
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <!-- Logo section -->
                <div class="logo">
                    <h1><a href="/"><i class="fa fa-laptop"></i> Brave</a></h1>
                </div>
            </div>
            <div class="col-md-9">

                <!-- Navigation starts.  -->
                <div class="navy">
                    <ul>
                        <!-- Main menu -->
                        <li>
                            <a href="/">Home</a>
                        </li>


                        <!-- Main menu -->
                        <li><a href="#">Sort by theme</a>
                            <!-- Submenu -->
                            <ul>
                                <li><a href="/items" class="red">Feminism</a></li>
                                <li><a href="">Capitalism</a></li>
                                <li><a href="">Racism</a></li>
                                <li><a href="">Privatisation</a></li>
                            </ul>
                        </li>

                        <li><a href="/idea">Our idea</a></li>
                        <li><a href="/contact-us">Contact Us</a></li>
                    </ul>
                </div>
                <!-- Navigation ends -->

            </div>
            <div class="col-md-1">
                <div class="card">
                    <h1><i class="fa fa-cart-arrow-down"></i> </a></h1>
                </div>
            </div>

        </div>
    </div>
</div>