@()(implicit messages: Messages, lang: Lang)

<!-- Javascript files -->
<!-- jQuery -->


<script src="@routes.Assets.versioned("javascript/commonToAllPage/jquery.js")"></script>
<!-- Bootstrap JS -->
<script src="@routes.Assets.versioned("javascript/commonToAllPage/bootstrap.min.js")"></script>
<!-- Placeholders JS -->
<script src="@routes.Assets.versioned("javascript/commonToAllPage/placeholders.js")"></script>
<!-- Magnific Popup -->
<script src="@routes.Assets.versioned("javascript/commonToAllPage/jquery.magnific-popup.min.js")"></script>
<!-- Owl carousel -->
<script src="@routes.Assets.versioned("javascript/commonToAllPage/owl.carousel.min.js")"></script>
<!-- Respond JS for IE8 -->
<script src="@routes.Assets.versioned("javascript/commonToAllPage/respond.min.js")"></script>
<!-- HTML5 Support for IE -->
<script src="@routes.Assets.versioned("javascript/commonToAllPage/html5shiv.js")"></script>
<!-- Main JS -->
<script src="@routes.Assets.versioned("javascript/commonToAllPage/main.js")"></script>

<!-- Javascript for this page -->
<!-- Ecommerce custom JS -->
<script src="@routes.Assets.versioned("javascript/commonToAllPage/ecommerce.js")"></script>

<!-- Custom JS. Type your JS code in custom.js file -->
<script src="@routes.Assets.versioned("javascript/commonToAllPage/custom.js")"></script>

<!--
Style switcher. This is just for demo purpose only.
If you don't want remove the below line.
Some of the features of style switcher won't work on offline. THey only work when you upload it to server
-->
<!-- <script src="style-switcher/style-switcher.js")"></script> -->



<!--Snippets-->
<script src="@routes.Assets.versioned("javascript/snippets/buttonsMinusPlus.js")"></script>

<!-- Select message for javascript-->
<script src="@routes.Assets.versioned("javascript/messages/messages-"+lang.code+".js")"> </script>



