@(leaflets: List[Leaflet])(implicit messages: Messages, lang: Lang)

<!-- Page heading one starts -->
<div class="page-heading-one">
    <h2>My Cool Blog</h2>
    <a><p class="bg-color">Our Works Here</p></a>
</div>


<!-- Shopping Items -->
<div class="ecommerce">

    <div class="container">

        <!-- Information Block -->
        <div class="info">
            <div class="row">
                @for(c <- Category.values){
                <div class="col-md-3 col-sm-6">
                    <!-- Information Item -->
                    <a href="/items/@c">
                        <div class="info-item bg-@Category.getColorClass(c)">
                            <!-- Number -->
										<span class="num-outer">
											<i class="fa @Category.getFaIcon(c) @Category.getColorClass(c)"></i>
										</span>
                            <!-- Heading -->
                            <h4>@Category.getName(c, lang)</h4>
                            <!-- Sub Heading -->
                            <h5>@Category.getDescription(c, lang)</h5>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>

                }
            </div>
        </div>
        <!-- Information block ends -->

        <!-- Shopping items content -->
        <div class="shopping-content">
            <!-- Block Title -->
            <h4><i class="fa fa-desktop color"></i>&nbsp; Popular Items&nbsp;<small>Quine Poor Squamo</small></h4>
            <div class="row">
            @for(l <- leaflets.zipWithIndex){
                <div class="col-md-4 col-sm-12">
                    @snippets.leaflet(l._1)(messages, lang)
                </div>
            }
            </div>
        </div>

    </div>

</div>