@import models.Leaflet
@import models.Category.Category
@import models.CardItem

@(leaflets: List[Leaflet], selectedCategory: Category, card: Card, addedProduct: Option[CardItem], companyData: Map[String, String], login: Boolean)(implicit messages: Messages, lang: Lang)


@css() = {

}




@js() = {

<script src="@routes.Assets.versioned("javascript/items/selectTab.js")"></script>
<script src="@routes.Assets.versioned("javascript/snippets/leaflet.js")"></script>
}

@commonToAllPage.template(css(), js(), mainBlock(leaflets, selectedCategory)(messages, lang), card, addedProduct, companyData, login)(messages, lang)