@import models.Category.Category
@import models.Leaflet

@(leaflets: List[Leaflet], selectedCategory: Category)(implicit messages: Messages, lang: Lang)


    <!-- Page heading two starts -->

    <div class="page-heading-two">
        <div class="container">
            <h2>Smart Phones <span>Something goes here</span></h2>
            <div class="breads">
                <!--Home / <a href="#">Page</a> / <a href="#">Sub Page</a>-->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


<div class="container">

    <!-- Actual content for treatment page -->
    <div class="medical">

        <!-- Nav tab style 3 starts -->
        <div class="nav-tabs-three medic-treatment">
            <!-- Design Three Sidebar -->
            <div class="nav-tabs-three-sidebar">
                <ul class="nav">

                    @for(c <- Category.values){
                        @if(c == selectedCategory){
                        <li class="active tabSelect" id="navTab-@c.id" data-name="@c.toString()">
                        }else {
                        <li class="tabSelect" id="navTab-@c.id" data-name="@c.toString()">
                        }
                            <a data-toggle="tab">
                                <i class="fa fa-angle-double-right"></i>&nbsp;
                                @Category.getName(c, lang)
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <!-- Design Three Content -->
            <div class="nav-tabs-three-content">
                <div class="tab-content">

                    @for(c <- Category.values){
                        @if(c == selectedCategory){
                            <div class="tab-pane active fade in" id="tab-@c.id">
                        }else{
                            <div class="tab-pane fade" id="tab-@c.id">
                        }
                                <div class="ecommerce">
                                    <!--<h4><i class="fa fa-desktop color"></i>&nbsp; @Category.getName(c, lang)&nbsp;<small>Quine Poor Squamo</small></h4>-->


                                    <!-- Shopping items content -->
                                    <div class="shopping-content">
                                        <!-- Block Title -->
                                        <div class="block-heading-two">
                                            <h3><span>@Category.getName(c, lang)</span></h3>
                                        </div>
                                        <div class="row">
                                        @for(l <- leaflets.filter(_.category == c).zipWithIndex){
                                            <div class="col-md-4 col-sm-12">
                                                @snippets.leaflet(l._1)(messages, lang)
                                            </div>
                                        }
                                        </div>

                                    </div>
                                </div>
                            </div>
                    }

                </div>
            </div>
            <!-- Clearfix -->
            <div class="clearfix"></div>
        </div>
        <!-- Nav tabs 3 ends -->

    </div>

</div>


